*{
	font-family: Arial, 'Microsoft YaHei';
	font-size: 16px;
	line-height: 1.8em;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
html,
body {
	margin:0;
	background: #EFEFEF;
}
body>#header {
	background: #22222C;
	width: 100%;
	height: 200px;
	padding-top: 80px;
	color: #EFEFEF;
	overflow: hidden;
}
body>#header a {
	color: #EFEFEF;
}
body>#header h1 {
	text-align: center;
	line-height: 84px;
	margin: 0;
}
body>#main {
	margin-top: 15px;
	margin-bottom: 15px;
}
body>#main #content {
	background: #FEFEFE;
	padding: 35px 60px;
	min-height: 480px;
	border:1px solid #CECECE;
	-webkit-box-shadow: 0 2px 3px 5px #EEE;
	-moz-box-shadow: 0 2px 3px 5px #EEE;
	box-shadow: 0 2px 3px 5px #EEE;
}

body>#footer {
	background: #DDD;
	width: 100%;
	text-align: center;
	color: #999;
	font-size: 12px;
	line-height: 2.4em;
}
body>#footer a {
	font-size: 12px;
	color: #999;
}
/*内容样式*/
body>#main #content p {
	padding: 0.6em 0;
	margin:0;
	/*text-indent:2em;*/
}
body>#main #content h1 {
	line-height: 2.4em;
	border-bottom: 5px solid #DDD;
	margin: 20px 0;
}
pre {
	display: block;
	overflow-x: auto;
	word-wrap: break-word; 
	word-break: normal; 
	padding: 0 60px;
	margin: 0.6em -60px;
	background: #23241f;
	color: #f8f8f2;
	font-size: 16px;
	-webkit-text-size-adjust: none;
}
pre code {
	display: block;
	padding: 35px 15px;
	margin:0;
	border-left:2px solid #666;
}
pre code .code-line {
	position: relative;
	min-height: 1.8em;
}
pre code .code-line .line-num {
	position: absolute;
	left: -77px;
	width: 60px;
	height: 100%;
	padding: 0 5px;
	text-align: right;
	color: #666;
}
body>#main #content .img-box {
	padding: 0;
	margin: 0.6em -60px;
}
body>#main #content .img-box img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
body>#main #content blockquote {
	background: #F6F6F6;
	border-left: 5px solid #DDDDE3;
}
body>#main #content blockquote>blockquote {
	background: #FFF;
}

table{
	font-family:verdana,arial,sans-serif;
	color:#333;border-width:1px;
	border-color:#666;
	border-collapse:collapse;
	font-size:14px
}
table th{
	border-width:1px;
	padding:8px;
	border-style:solid;
	border-color:#666;
	font-weight:bold;
	background-color:#d1d1d1
}
table td{
	border-width:1px;
	padding:8px;
	border-style:solid;
	border-color:#666
}
table tr:nth-child(even){
	background-color: #f2f2f2;
}
table tr:nth-child(odd){
	background-color: #fff;
}

#toc {
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    background: #333;
    box-shadow: inset -5px 0 5px 0px #222;
    width: 220px;
    padding-top: 20px;
    color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}
#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}
#toc .toc-h2 {
    padding-left: 15px;
}
#toc .toc-h3 {
    font-size: 80%;
    padding-left: 23px;
}
#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}