/*为什么在写之前还有一点小激动呢？*/
*{
	font-family: Arial, 'Microsoft YaHei';
	font-size: 16px;
	line-height: 1.8em;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
html,
body {
	margin:0;
	background: #EFEFEF;
}
#header {
	background: #22222C;
	width: 100%;
	height: 200px;
	padding-top: 80px;
	color: #EFEFEF;
	overflow: hidden;
}
#header a {
	color: #EFEFEF;
}
#header h1 {
	text-align: center;
	line-height: 84px;
	margin: 0;
}
#main {
	margin-top: 15px;
	margin-bottom: 15px;
}
#content {
	background: #FCFCFC;
	padding: 35px;
	min-height: 480px;
	border:1px solid #CECECE;
	-webkit-box-shadow: 0 2px 2px 3px #EEE;
	-moz-box-shadow: 0 2px 2px 3px #EEE;
	box-shadow: 0 2px 2px 3px #EEE;
}
#mdcontent {
	display: none;
}